<mat-toolbar color="primary">
  <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <span><mat-icon>school</mat-icon> Asimov</span>
  <span class="default-spacer"></span>
  <button mat-button>Profile <mat-icon>account_circle</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav-content" opened="false" mode="push">
    <mat-nav-list>
      <span class="side-title">Sidenav Director</span>
      <mat-divider></mat-divider>
      <mat-list-item class="list-item" (click)="sidenav.close()">
        <a mat-button [routerLink]="'/dashboard'" class="source-name"><mat-icon class="icon">dashboard</mat-icon>Dashboard</a>
      </mat-list-item>
      <mat-list-item class="list-item" (click)="sidenav.close()">
        <a mat-button [routerLink]="'/'" class="source-name"><mat-icon class="icon">announcement</mat-icon>Announcements</a>
      </mat-list-item>
      <mat-list-item class="list-item" (click)="sidenav.close()">
        <a mat-button [routerLink]="'/'" class="source-name"><mat-icon class="icon">perm_identity</mat-icon>Teachers</a>
      </mat-list-item>
      <mat-list-item class="list-item" (click)="sidenav.close()">
        <a mat-button [routerLink]="'/'" class="source-name"><mat-icon class="icon">supervisor_account</mat-icon>Top Teachers</a>
      </mat-list-item>
      <mat-list-item class="list-item" (click)="sidenav.close()">
        <a mat-button [routerLink]="'/'" class="source-name"><mat-icon class="icon">assessment</mat-icon>Competences</a>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
      <span class="side-title">Sidenav Teacher</span>
      <hr/>
      <mat-list-item class="list-item" (click)="sidenav.close()">
        <a mat-button [routerLink]="'/'" class="source-name"><mat-icon class="icon">dashboard</mat-icon>Dashboard</a>
      </mat-list-item>
      <mat-list-item class="list-item" (click)="sidenav.close()">
        <a mat-button [routerLink]="'/'" class="source-name"><mat-icon class="icon">book</mat-icon>Courses</a>
      </mat-list-item>
      <mat-list-item class="list-item" (click)="sidenav.close()">
        <a mat-button [routerLink]="'/'" class="source-name"><mat-icon class="icon">assessment</mat-icon>Competences</a>
      </mat-list-item>
      <mat-list-item class="list-item" (click)="sidenav.close()">
        <a mat-button [routerLink]="'/'" class="source-name"><mat-icon class="icon">announcement</mat-icon>Announcements</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="sidenav">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
