.default-spacer {
  flex: 1 1 auto;
}
.sidenav {
  height: 80vmax;
  background-color: white;
  margin: 20px;
}
.sidenav-container {
  width: 100%;
  height: auto;
  border: 1px solid rgba(111, 111, 111, 0.50);
}
.sidenav-content {
  display: flex;
  height: 100%;
  width: 12%;
  align-items: center;
  justify-content: center;
}
.list-item {
  display: flex;
}
.list-item:hover {
  cursor: pointer;
  color: #3f51b5;
}
.source-name {
  margin-left: 5px;
}
.icon {
  margin-right: 25px;
  padding-bottom: 0px;
}
.side-title {
  margin: 20px;
  font-weight: bold;
}
