.teacher-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.teacher-card {
  width: 280px;
  max-height: 300px;
  margin: 10px;
  box-shadow: 0 0 15px #333;
}

.teacher-title {
  color: white;
  margin-top: 10px;
}

.header-card {
  background-color: #3f51b5;
  border-radius: inherit;
  justify-content: center;
}

.card-content {
  margin: 10px;
}

.card-actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
