<div class="teacher-content">
  <div *ngFor="let teacher of teachers">
    <mat-card class="teacher-card">
      <mat-card-header class="header-card">
        <mat-card-title class="teacher-title">{{teacher.name}}</mat-card-title>
        <mat-card-subtitle style="color: white">{{teacher.lastname}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content mat-card-content class="card-content">
        <p>email: {{teacher.email}}</p>
        <p>age: {{teacher.age}}</p>
        <p>phone: {{teacher.phone}}</p>
        <p>points: {{teacher.points}}</p>
        <p></p>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-raised-button content="center" color="primary">see more</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
